.course-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 15px;

  font-size: 0.8rem;
  /* background: red; */
}

.main-link,
a {
  color: #222;
}

.text {
  height: 72px;
}

.text a {
  text-decoration: none;
  margin-bottom: 0.7rem;
}

.text a:hover {
  text-decoration: underline;
}

.top-block {
  display: flex;
  gap: 1rem;
  margin-bottom: 55px;
}

.text {
  display: flex;
  flex-direction: column;
}
.course-cards img {
  top: 0;
  right: 0;
  width: 72px;
  height: 72px;
  margin-left: 1rem;
}

.widgets i {
  font-size: 12px;
}

.contentwidget {
  font-size: 12px;
}

.widgets {
  display: flex;
  gap: 0.4rem;
  color: #999;
}

.price {
  display: flex;
  margin: 15px 0 0 0;
}

.last-price {
  margin: 0 5px 0 0;
  font-size: 12px;
  text-decoration: line-through;
  color: #6c7bdf;
}

.free-price {
  font-size: 14px;
  font-weight: bold;
  color: #6c6;
}

.actual-price {
  color: #ff7965;
  font-size: 1rem;
  font-weight: bold;
}

.withoutsale {
  color: #6c7bdf;
  font-weight: bold;
}

.coursename {
  font-weight: bold;
  width: 205px;
  word-break: break-all;
}

.cardcontainer {
  padding: 15px;
  width: 324px;
  height: 210px;
  box-shadow: 0 0 4px -1px #bfb9b9;
  border-radius: 10px;
}

.cardcontainer:hover {
  box-shadow: 0 0 15px -4px rgb(154, 183, 255);
}

.cardimg {
  width: 72px;
  height: 72px;
}

.authortitle {
  font-size: 13px;
}
