/* FindCourse.module.css */

.search-form {
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  background: #f3f4f6;
  border-radius: 12px; /* Задаем радиус для скругления углов */
  padding: 16px; /* Добавляем отступ внутри компонента */
}

.search-form__form {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.search-form__form input[type="checkbox"] {
  outline: 0;
  content: none;
  appearance: none;
  margin-right: 0.5rem;
}

.search-form__form input[type="checkbox"]:before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "FontAwesome";
  content: "\f00c";
  /* font-size: 15px; */
  color: transparent !important;
  /* display: block; */
  width: 1rem;
  height: 1rem;
  border: 2px solid #999;
  border-radius: 2px;
}

.search-form__form input[type="checkbox"]:checked:before {
  color: #fff !important;
  background: #3967c7;
  border-color: #3967c7;
}

.search-form__input {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #eaecf0; /* Добавляем бордер вокруг компонента */
}

.search-form__input:focus {
  outline: 1px solid #ccc;
}

.search-form__input::placeholder {
  color: #a5a5a5;
}

.search-form__reset {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.select-box {
  position: relative;
}

.select-box__toggle-btn {
  cursor: pointer;
  background: none;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
}

.select-box__content {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
}

.select-box-option__content {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.form-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.form-checkbox:hover input[type="checkbox"]:before {
  border-color: #222;
}

.form-checkbox input {
  margin-right: 5px;
  border: 1px #12bcd3;
}

.catalog__search-all-filters-mobile {
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.search-form__submit {
  background-color: #5ba045; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border-radius: 5px;
  border: none; /* Убираем границу кнопки */
  padding: 10px 20px; /* Задаем отступы внутри кнопки */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Указываем, что это интерактивный элемент */
  transition: background-color 0.3s ease; /* Добавляем плавный переход при изменении цвета фона */
}

.search-form__submit:hover {
  background-color: #457b33; /* Изменяем цвет фона при наведении курсора */
}
