.cardcontainer {
  margin: 25px;
  width: 570px;
}

.headercontent {
  display: flex;
  width: 570px;
}

.leftcontent {
  display: flex;
}

.textcont {
  width: 450px;
}

.texttile {
  text-decoration: none;
}

.texttile:hover {
  text-decoration: underline;
}

.btnrefedit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  margin: 10px;
}
.btnrefedit:hover {
  background-color: rgba(80, 76, 76, 0.1);
}

.btndelcourse {
  height: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin: 0 10px 10px 10px;
}
.btndelcourse:hover {
  background-color: rgba(80, 76, 76, 0.1);
}

.imgcourse {
  margin: 0 15px 0 0;
  width: 72px;
  height: 72px;
}

.vertmenu {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5)
}

.vertmenu:hover {
  color: rgba(0, 0, 0, 1)
}

.rightcontent {
  position: relative;
}

.cardvertmenu {
  position: absolute;
  bottom: 20px;
  width: 125px;
  height: 65px;
  display: flex;
  visibility: hidden;
  top: 15px;
  right: 25px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 4px -1px #bfb9b9;
}

.cardvertmenu.visible {
  visibility: visible;
  transition: 0.3s;
  transform: translateY(20px);
}


.footercontent {
  margin: 0 0 15px 0;
}

.polocka {
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}