.mymenucontainer {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.textrefto {
  text-decoration: none;
  font-weight: bold;

}

.mycoursecontainer {
  cursor: pointer;
  display: flex;
  text-decoration: none;
}

.icon {
  margin: 0 10px 0 0;
}

.mycoursecontainer.act {
  color: green;
}